body {
	margin: 0px;
}

@font-face {
	font-family: 'SignPainterHouseBrush';
	src: url('SignPainter_HouseBrush.ttf');
}

.inner h1 {
	font-size: 5rem !important;
	font-family: 'SignPainterHouseBrush', 'sans-serif';	
	
}

h2 {
	color: white;
	font-size: 1.3rem !important;
	font-family: 'Indie Flower';
}
/* ------------------- Start of Gallery ---------------------- */

#gallery {
	background-color: rgb(255, 236, 206);
	color: black;
	height: 1250px;
	/*background-color: rgb(252, 212, 174); */
}

.header {
	position: relative;
	text-align: center;
	padding:100px 0px;
	font-size: 75px;
	font-weight: bold;
	font-family: 'SignPainterHouseBrush', 'sans-serif';
	
}

#slideshowWrapper {
	width: 750px;
	height: 750px;
	border: 5px gray solid;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	background-color: white;
	border-radius: 1%;
}

.slideshow {
	width: 100%;
	position: relative;
}

.button {	
	position: absolute;
	font-size: 40px;
	color: rgb(104, 104, 104);
	padding: 10px;
	background-color: #00c3ff;
}

.button:hover {
	background-color: #55cfff;
}

.button.display-left {
	left: 0px;
	top: 50%;
	opacity: 1;
	border-radius: 0px 10px 10px 0px;
}

.button.display-right {
	right: 0px;
	top: 50%;
	opacity: 1;
	border-radius: 10px 0px 0px 10px;
}

.mySlides {
	padding-top: 150px;
	height: 600px;
	position: relative;
}

.pic {
	margin: auto;
	display: block;
}

.description {
	position: absolute;
	height: 200px;
	width: 94%;
	bottom: 0;
	vertical-align: bottom;
	padding: 10px 0px 0px 50px;
	border-top: 3px solid gray;
	
}
/* ------------------- End of Gallery ---------------------- */



/* ------------------- Start of Banner ---------------------- */

	#banner {
		display: -ms-flexbox;
		-ms-flex-pack: center;
		-ms-flex-align: center;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		background-image: url("../../images/streetwear/streetwear.jpeg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-top: 0;
		min-height: 100vh;
		height: 100vh !important;
		width: 100%;
		position: relative;
		text-align: center;
		overflow: hidden;
	}

		#banner .inner {
			-moz-transform: scale(1.0);
			-webkit-transform: scale(1.0);
			-ms-transform: scale(1.0);
			transform: scale(1.0);
			-moz-transition: opacity 1s ease, -moz-transform 1s ease;
			-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
			-ms-transition: opacity 1s ease, -ms-transform 1s ease;
			transition: opacity 1s ease, transform 1s ease;
			opacity: 1;
			position: relative;
			z-index: 2;
		}

		#banner h1 {
			font-size: 4rem;
			margin-bottom: 1rem;
			color: #FFF;
		}

		#banner p {
			color: rgba(255, 255, 255, 0.65);
			font-size: 1.5rem;
			margin-bottom: 3rem;
		}

		#banner a {
			color: #FFF;
			text-decoration: none;
		}

		#banner video {
			-moz-transform: translateX(50%) translateY(50%);
			-webkit-transform: translateX(50%) translateY(50%);
			-ms-transform: translateX(50%) translateY(50%);
			transform: translateX(50%) translateY(50%);
			position: absolute;
			bottom: 50%;
			right: 50%;
			width: auto;
			height: auto;
			min-width: 100%;
			min-height: 100%;
			overflow: hidden;
		}

		#banner:before {
			-moz-transition: opacity 3s ease;
			-webkit-transition: opacity 3s ease;
			-ms-transition: opacity 3s ease;
			transition: opacity 3s ease;
			-moz-transition-delay: 1.25s;
			-webkit-transition-delay: 1.25s;
			-ms-transition-delay: 1.25s;
			transition-delay: 1.25s;
			content: '';
			display: block;
			background-color: rgba(0, 0, 0, 0.75);
			height: 100%;
			left: 0;
			opacity: 0.45;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		@media screen and (max-width: 1280px) {

		/* Keep it consistent so it doesn't change when window is shrunk	
			#banner video {
				display: none;
			}
		*/
		} 

		@media screen and (max-width: 736px) {

			#banner {
				min-height: 0;
				height: auto !important;
				padding: 6rem 2rem 4rem 2rem;
			}

				#banner .inner {
					width: 100%;
				}

				#banner h1 {
					font-size: 1.75em;
					margin-bottom: 0.5em;
					padding-bottom: 0;
				}

				#banner p {
					font-size: 1.25em;
				}

				#banner br {
					display: none;
				}

				#banner .button {
					width: 100%;
					margin-left: 0px;
					margin-right: 0px;
				}

		}

		@media screen and (max-width: 480px) {

			#banner p {
				font-size: 1em;
			}

		}

		body.is-loading #banner .inner {
			-moz-transform: scale(0.99);
			-webkit-transform: scale(0.99);
			-ms-transform: scale(0.99);
			transform: scale(0.99);
			opacity: 0;
		}

		body.is-loading #banner:before {
			opacity: 1;
		}

/* ------------------- End of Gallery ---------------------- */